extends layout

block content
  .jumbotron
    .container.text-center
      h1 Year-end Retrospective
      p 2023 is coming soon, let's see what you have done in 2022
  .container-fluid.bg-3.text-center
    h3 Github Username
    // input a search value, the label is 'See your contribution in 2022' in the left side
    input(type="text" id="search")