extends layout

block content
  .jumbotron
    .container.text-center
      h1 Contribute Me
  .container-fluid.bg-3.text-center
    img(src="under-construction.png", alt="Under Contruction")
    p This website is under development. Please come back later.
    p Or you can contribute to this project on 
      a(href="https://github.com/vovikhangcdv/contribute-me", target="_blank") Contribute Me (GitHub)